.barchart {
  font-family: 'Arvo';
  width: 650px;
  z-index: 15;
  border-radius: 15px;
  margin: 30px;
  padding: 1vw;
  padding-top: 50px;
  box-shadow: 2px 7px 10px #9b9898;
}

.search-button {
  margin-top: 5vh;
  font-size: large;
  text-align: center;
  height: 100%;
}

.piechart-goal {
 font-family: 'Arvo';
 width: 500px;
 z-index: 15;
 border-radius: 15px;
 margin: 30px;
 padding: 1vw;
 padding-top: 50px;
 box-shadow: 2px 7px 10px #9b9898;
}


.progress-bar {
  margin-top: 10px;
}

.analtyics-emperor {
  background-image: url('./white-simple-gradient.png');
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}