.chart-container {
  flex-direction: row;
  display: flex;
}

.barchart {
  height: 715px;
  font-family: 'Arvo';
  width: 100%;
  z-index: 15;
  border-radius: 15px;
  margin: 2vw;
  margin-right: 1vw;
  padding: 1vw;
  padding-top: 50px;
  box-shadow: 2px 7px 10px #9b9898;
}

.search-button {
  border-radius: 5px;
  background-color: #00588F;
  color: white;
  margin-top: 4.3vh;
  font-size: large;
  text-align: center;
  height: 4.2vh;
  width: 10vw;
  box-shadow: 2px 7px 10px rgb(113, 104, 104);
}

.MuiPickersDay-daySelected {
  border-radius: 15px;
  color: #fff;
  font-weight: 500;
  background-color: black;
}

.search-button:hover {
  background-color: white;
  color: #00588F;
  border: 3px solid #00588F;
}

.piechart-goal {
 font-family: 'Arvo';
 height: 340px;
 width: 100%;
 z-index: 15;
 border-radius: 15px;
 margin: 2.2vw;
 margin-bottom: 0.9vw;
 box-shadow: 2px 7px 10px #9b9898;
}

.piechart-added {
 height: 340px;
 font-family: 'Arvo';
 width: 100%;
 z-index: 15; 
 border-radius: 15px;
 margin: 2.2vw;
 box-shadow: 2px 7px 10px #9b9898;
 }

.piechart-container {
  flex-direction: column;
  display: flex;
}

.progress-bar {
  margin-top: 10px;
}

.chart-title {
  text-align: center;
}
.analtyics-emperor {
  background-image: url('./white-simple-gradient.png');
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
