@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo');
}

.budget-buttons {
  display: flex;
  flex-direction: row;
}

.share-button button {
  margin-left: 20px;
  height: 100%;
  width: 8vw;
  color: white;
  background: #00588F;
  border-radius: 4px;
  border-color: #00588F;
  border: none;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedContained.MuiButtonGroup-groupedContainedHorizontal.MuiButtonGroup-groupedContainedPrimary.MuiButton-containedPrimary {
  color: white;
  background: #00588F;
}

.MuiCircularProgress-root.MuiCircularProgress-colorPrimary.MuiCircularProgress-determinate {
  color: #A6E1FA;
}

.MuiCircularProgress-root.MuiCircularProgress-colorSecondary.MuiCircularProgress-determinate {
    color: 'rgb(249, 112, 104)';
}

.MuiButtonBase-root.MuiFab-root.MuiFab-primary {
  background: #00588F;
}

.category-icons {
  display: flex;
  justify-content: space-between;
}

.r3f-chest {
  width: 66%;
  padding-top: 5em;
  margin-bottom: -55px;

}

.emperor {
  background-image: url('./white-simple-gradient.png');
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 20em;

}

.budget-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  width: 75%;
  border-radius: 15px;
  box-shadow: 2px 7px 10px rgb(155, 152, 152);

    .progress-label{
      font-size: 1em;
    }
}

.dial__graph {
  text-align-last: center;
}

.MuiCircularProgress-root{
  width: 50em;
  height: 50em;
}

.expenses__container {
  width: 15em;
}

.category__container {
  display: flex;
  flex-flow: wrap;
  width: 90%;


  .MuiCard-root {
    margin: 0.5em;
    border-radius: 15px;
  }
}

.card__core{
  width: 25%;
}