.outer-container {
  display: flex;
  height: 200vh;
  background-color: white;
  justify-content: flex-end;
  border:1px gold;
  margin-right: 5%;
  bottom: 5%;
  right: 5%;
}

.chat-container {
  border: 2px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 400%;
  width: 30%;
  border:1px gold;
}

.screen {
  position: relative;
}
.innerdiv {
  position: fixed;
  bottom: 5px;
  right: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .chat-container {
    width: 35%;
    height: 45%;
    position: fixed;
    bottom: 10%;
    right: 5%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .chat-container {
    position: fixed;
    bottom: 10%;
    right: 5%;
    height: 43%;
    width: 25%;
  }
}

@media (min-width: 1200px) and (max-width: 3000px) {
  .chat-container {
    position: fixed;
    bottom: 10%;
    right: 5%;
    height: 45%;
    width: 18%;
  }
}