canvas {
  margin: 0;
  padding: 0;
}

.user-login {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

.general {
  overflow: hidden;
  height: 100vw;
  width: 100vw;
}

.input-field {
  height: 35px;
  font-size: 1.1rem; 
  border: none;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
}

.submit-button {
  height: 35px;
  width: 80px;
  font-size: 15px;
  background-color: gold;
  border:3px solid white ;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  }


.login {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: gold;
  width: 40vh;
  height: 30vh;
  border-radius: 15px;
  z-index: 1;
}


.falling-coins{
z-index: -1;
position: fixed;
height: 100vw;
width: 100vw;
}

