canvas {
  margin: 0;
  padding: 0;
}

.user-login {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

.general {
  overflow: hidden;
  height: 100vw;
  width: 100vw;
}

input.input-field {
  background-color: gold;
  height: 35px;
  font-size: 1.1rem;
  border:2px solid black !important;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
}

.submit-button {
  height: 35px;
  width: 80px;
  font-weight: bold;
  font-size: 15px;
  background-color: gold;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  box-shadow: 2px 2px 1px gray;
  cursor: pointer;
}

.submit-button:hover {
  height: 35px;
  width: 80px;
  font-weight: bold;
  font-size: 15px;
  background-color: black;
  border: 2px solid gold;
  border-radius: 5px;
  color: gold;
  box-shadow: 2px 2px 1px gray;
  cursor: pointer;
}

.login {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: gold;
  width: 40vh;
  height: 60vh;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 2px 3px 10px rgb(113, 104, 104);
}
.face {
  margin-top: 20%;
  text-align: center;
}

.face-header {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.other-sign-in {
  margin-top: 15px;
}

.other-sign-in-icon:hover {
  
  font-weight: bold;

  background-color: black;
  border: 2px solid gold;
  border-radius: 5px;
  color: gold;
  box-shadow: 2px 2px 1px gray;
  cursor: pointer;
}

.falling-coins {
  z-index: -1;
  position: fixed;
  height: 100vw;
  width: 100vw;
}

.login-emperor {
 
}
