.modal {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.modalInput {
  border-radius: 2vw;
  background: gold;
  height: 2vw;
  border: 2px solid black;
  color: black;
}

.new-category-form {
  margin: 2vw;
}
.new-category-button {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	background: gold;
  border: 2px rgba(0, 0, 0, 0.5) solid;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.4s ease 0s;
  box-shadow: 2.5px 5px grey;
}

.new-category-button:hover {
	background: black;
  color: gold;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.modal > .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  border-bottom: 1px solid black;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-content {
  margin: auto;
  background: gold;
  width: 50%;
  padding: 5px;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  border-radius: 20px;  
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.new-category-form {
  display: flex;
  flex-direction: column;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
