.buttonComponent {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSizeLarge.MuiButton-sizeLarge {
  color: white;
  background: #00588f;
  height: 4vw;
  width: 12vw;
  border-radius: 15px; 
}

h1 {
  text-align: center;
}

.goals-bars {
  margin: 14px;
  border-radius: 15px;
  box-shadow: 2px 7px 10px rgb(155, 152, 152);

  padding: 50px 14px 14px 14px;
}


.category-bars {
  
  margin: 14px;
  border-radius: 15px;
  box-shadow: 2px 7px 10px rgb(155, 152, 152);

  padding: 50px 14px 14px 14px;
}

.threeJS {
  margin-bottom: -3em;

}

canvas {
  height: 200px;
}

.previous-budget-graph {
  border-radius: 15px;
  box-shadow: 2px 7px 10px rgb(155, 152, 152);
  margin: 14px;
  padding: 14px;
}

.general {
  background-image: url('./white-simple-gradient.png') no-repeat;
  height: auto;
  background-size: 100%;
  z-index: -1;
}