.button-component {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5vw;
}

.goals-bars {
  margin: 1vw;
  background:rgb(251, 196, 106);
  border-radius: 2vw;
}

.category-bars {
  height: 1vw;
}

.threeJS {
  margin: 1vw;
  background: rgb(251, 196, 106);

}
