.progress-container {
  height: 4vw;
  width: '100%';
  background-color: lightgrey;
  border-radius: 20vw;
  margin: 50; 
}


.progress-label {
  padding: 5;
  color: white;
  font-weight: bold;
  font-size: 3vw;
}

.category-progress-bar {
  text-align: center;
  font-size: 2vw;
}

.progress-bar-budget {
  width: 60%;
  margin: 1vw;
}